<nav class="menu">
  <ul>
    <li>
      <a routerLink="/home">
        <fa-icon class="icons__size icon" [icon]="iconHome"></fa-icon>
        Início
      </a>
    </li>
    <li>
      <a routerLink="/home">
        <fa-icon class="icons__size icon" [icon]="iconClock"></fa-icon>
        Histórico
      </a>
    </li>
    <li>
      <a routerLink="/carteira">
        <fa-icon class="icons__size icon" [icon]="iconWallet"></fa-icon>
        Carteira
      </a>
    </li>
    <li>
      <a routerLink="/veiculos">
        <fa-icon class="icons__size icon" [icon]="iconCar"></fa-icon>
        Veículos
      </a>
    </li>
    <li>
      <a routerLink="/home">
        <fa-icon class="icons__size icon" [icon]="iconUser"></fa-icon>
        Perfil</a>
    </li>
  </ul>
</nav>
